.section{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #030008;
    flex-wrap:wrap;
}

.line{
    height: 0.5vh;
    width: 22vw;
    background-color: #A8AFC1;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    gap: 4vh;
}

.spacing{
    display: flex;
    align-items: center;
    gap: 1vw;
}

/* formulario */ 

.divForm{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 75vh;
    border: solid 0.4vh #9F53DD;
    border-radius: 10px;
    padding: 2.5vh;
}

.alignmentText{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.containerForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 75vh;
    gap: 1px;
}

.inputBasic{
    width: 20vw;
    height: 7vh;
    background-color: #040013;
    border: solid 2px #475579;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.5vh;
}


/* COMEÇO area de texto da mensagem */
.textarea{
    width: 20vw;
    height: 20vh;
    background-color: #040013;
    border: solid 2px #475579;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    font-size: 2.2vh;
}

.textarea::-webkit-scrollbar {
  width: 5px;
  border: solid 1px #475579;
}

.textarea::-webkit-scrollbar-track {
  background: #040013;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #a855f7; /* roxo */
  border-radius: 8px;
  border: 1px solid #7B2CBF;
}

/* FIM area de texto da mensagem */

.textarea::placeholder, .inputBasic::placeholder{
    color: #A8AFC1;
    font-size: 2vh;
}

.btn{
    width: 20vw;
    height: 7vh;
    background: #9F53DD;
    background: linear-gradient(81deg,rgba(90, 24, 154, 1) 0%, rgba(199, 125, 255, 1) 100%);
    border-radius: 100px;
    font-size: 2.8vh;
    transition: .5s;
}

.btn:hover{
    background: linear-gradient(81deg,rgba(85, 76, 94, 0) 0%, rgba(199, 125, 255, 0) 100%);
    background-color: #cfcfcf;
    color: #5A189A;
    box-shadow: 0px 0px 10px #a855f7;
    text-shadow: 0px 0px 25px #8000ff;
}