.on{
  color: #FFF ;
  cursor: pointer;
  transform: translateY(-5px);
  transition: 200ms ease-in-out;
}
.off{
  color: #A8AFC1;
  cursor: pointer;
  transform: translateY(0px);
  transition: 200ms ease-in-out;
}

.line{
  transition: 200ms ease-in-out;
}